{% extends 'teacherbase.html'%}
{% block content %}
<form method="post" action="{% url 'AddMotherAction' %}">
    {% csrf_token %}
    <h2 class="text-center text-primary ">PREGNANCY WOMAN'S DETAILS</h2>
    <br>
    <div class="container w-50 mt-2">

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <table>
                    <tr>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="Mothername" class="form-control" id="Mothername">
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="date" name="dob" class="form-control" id="dob">
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <label>Mobileno</label>
                            <input type="text" name="Phoneno" class="form-control" id="Phoneno">
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                        <label>Address</label>
                        <textarea name="Address" class="form-control" cols="20" rows="4" id="Address"></textarea>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <label>How many months are you pregnant?</label>
                            <input type="number" name="Details" class="form-control" id="Details">
                        </div>
                    </tr>
                    <tr>

                        <div class="form-group">
                            <label>Height</label>
                            <input type="text" name="height" class="form-control" id="height">
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <label>Weight</label>

                            <input type="text" name="weight" class="form-control" id="weight">
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <label>Hemoglobin</label>
                            <input type="text" name="hemoglobin" class="form-control" id="hemoglobin">

                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <label>Nutritions</label>
                            <select class="form-control" name="nutritious">
                                <option value="">--select--</option>
                                {% for v in nutrition %}
                                <option value="{{v.id}}">{{v.Name}}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <label>THR</label>
                            <select class="form-control" name="thr">
                                <option value="">--select--</option>
                                {% for v in thr %}
                                <option value="{{v.id}}">{{v.Item}}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </tr>
                    <tr>
                        <div class="row">
                            <div class="col-md-12 text-center mt-2">
                                <input type="submit" value="submit" class="btn btn-primary"
                                    onclick="return validation()">
                            </div>
                    </tr>

                </table>
            </div>
            </div>
            </div>
</form>
{% if messages %}
{% for msg in messages %}
<script>
    alert("{{msg}}")
</script>
{% endfor %}
{% endif %}
<script>
    function validation() {

        var alpha = /^[a-zA-Z]+$/;
        var num = /^[0-9]{10}$/;

        var Mother_Name = document.getElementById('mothername');
        var dob = document.getElementById('dob');
        var Phoneno = document.getElementById('phoneno');
        var Details = document.getElementById('details');






        if (mothername.value.length == 0) {
            alert('Enter a Mothername');
            return false;
        }
        else if (dob.value.length == 0) {
            alert('Enter a Dob');
            return false;
        }
        else if (phoneno.value.length == 0) {
            alert('Enter a Phone');
            return false;
        }
        else if (!phoneno.value.match(num)) {
            alert('Enter a Valid Number');
            phoneno.focus();
            return false;
        }
        else if (details.value.length == 0) {
            alert('Enter a Details');
            return false;
        }

        else {
            return true;
        }
    }
</script>

{% endblock %}
