{% extends 'adminbase.html'%}
{% block content %}
    
        <h2 class="text-center text-primary ">WELCOME</h2>
        <br>
        <div class="container w-50 mt-2">
    <!-- <li><a href="{% url 'ViewTeacher' %}">View Teacher</a></li> -->
    <!-- <li><a href="{% url 'ViewActivities' %}">ViewActivities</a></li> -->
    <!-- <li><a href="{% url 'ViewEvents' %}">ViewEvents</a></li> -->
    <!-- <li><a href="{% url 'ViewFoodShedules' %}">ViewFoodShedules</a></li> -->
    <!-- <li><a href="{% url 'ViewSponsershipDetails' %}">ViewSponsershipDetails</a></li> -->
    
    <p style="margin-left:100px" >An admin is a user with special privilages who is responsible for managing the website and ensuring that it functions properly.Admin can view the activities of the anganwadi center.They can also approve or reject teacher.</p>
    </div>
    
{% endblock %}