{% extends 'teacherbase.html'%}
{% block content %}
        <form method="post" action="{% url 'NutritionsAction' %}" name="myform" enctype="multipart/form-data">
            {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" class="form-control" id="name"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                <input type="Submit" class="btn btn-primary" value="Submit">
                </td>
            </tr>
        </table>
        </form>
        {% endblock %}