{% extends 'parentbase.html'%}
{% block content %}
		<form method="post" action="{% url 'parentupdateAction' %}" enctype="multipart/form-data">
		{% csrf_token %}
        <h2 class="text-center text-primary ">REGISTRATION</h2>
    <br>
    <div class="container w-50 mt-2">

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
		<input type="hidden" name="id" >
			<table>
			{% for v in parent %}
			
				<tr>
                <div class="form-group">
				<label>Name</label>
				<input type="text" name="name" class="form-control" id="name" value="{{v.Name}}">
                </div>
				</tr>
                <div class="form-group">
				<label>Gender</label>
				{% if v.gender == 'male' %}
				<input type ="radio" name="gender"  value="male" checked="true">male
				<input type="radio" name="gender"  value="female">female
				{% else %}
				<input type="radio" name="gender"  value="male">male
				<input type="radio" name="gender"  value="female" checked="true">female
				{% endif %}
                </div>
				</tr>
                <tr>
                    <div class="form-group">
                    <label>Address</label>
                    <textarea name="address" class="form-control" cols="20" rows="4" id="address"></textarea>
                    </div>
                </tr>
				<tr>
                <div class="form-group">
				<label>Phoneno</label>
				<input type="text" name="phone" class="form-control" id="phoneno" value="{{v.Phoneno}}">
                </div>
                </tr>
	            <tr>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" name="file" class="img-thumbnail">
                        <img src="{{v.File.url}}" height="100px" width="100px">
                    </div>
	            </tr>
				<tr>
                <div class="form-group">
    			<label>Username</label>
				<input type="text" name="username" class="form-control" id="username" value="{{v.Username}}">
                </div>
                </tr>
				<tr>
                <div class="form-group">
   				<label>Password</label>
				<input type="password" name="password"  class="form-control" id="password" value="{{v.Password}}">
                </div>
				</tr>
                <tr>
                    <div class="form-group">
                       <label>Confirm Password</label>
                    <input type="password" name="confirmpassword"  class="form-control" id="confirmpassword" value="{{v.Password}}">
                    </div>
                    </tr>
                <tr>
				<div class="row">
                    <div class="col-md-12 text-center mt-4">
				<input type="submit" class="btn btn-primary" value="update" onclick="return validation()">
                </div>
                </div>
                </tr>
				{% endfor %}
				</table>
                </div>
                </div>
                </div>
				</form>
				
				
				{% if messages %}
				{% for msg in messages %}
					<script>
						alert('{{msg}}')
					</script>
				{% endfor %}
			{% endif %}
            <script type="text/javascript">
                function validation()
                {
            debugger;
                        var alpha=/^[a-zA-Z]+$/;
                        var num=/^[0-9]+$/;
                     
                        var name=document.getElementById('name');
                        var gender=document.myform.gender;
                         var phone=document.getElementById('phoneno');
                         var username=document.getElementById('username');
                         var password=document.getElementById('password');
                    
                        if(name.value.length==0)
                        {
                            alert('Enter a Name');
                            return false;
                        }
                        else if(!name.value.match(alpha))
                        {
                            alert('Enter a Valid Name');
                            name.focus();
                            return false;
                        }
                        else if(gender[0].checked==false && gender[1].checked==false)
                        {
                            alert('Enter a Gender');
                            return false;
                        }
                        else if(phoneno.value.length==0)
                        {
                            alert('Enter a Phone');
                            return false;
                        }
                        else if(!phoneno.value.match(num))
                        {
                            alert('Enter a Valid Number');
                            phoneno.focus();
                            return false;
                        }
                        
                        
                        else if(username.value.length==0)
                        {
                            alert('Enter a Username');
                            return false;
                        }
                        else if(password.value.length==0)
                        {
                            alert('Enter a Password');
                            return false;
                        }
            
                    else 	
                        {
                            return true;
                        }
            }
            </script>
			
            {% endblock %}