{% extends 'parentbase.html'%}
{% block content %}
        <h2 class="text-center text-primary ">WELCOME</h2>
        <br>
        <div class="container w-50 mt-2">
        <!-- <li><a href="{% url 'parentupdate' %}">Updation</a></li> -->
        <!-- <li><a href="{% url 'addstudent' %}">Student</a></li> -->
        <!-- <li><a href="{% url 'ViewStudent' %}">ViewStudent</a></li> -->
        <!-- <li><a href="{% url 'ViewsAttendence' %}">ViewAttendence</a></li> -->
        <!-- <li><a href="{% url 'ViewActivity' %}">ViewActivity</a></li> -->
        <!-- <li><a href="{% url 'Viewevent' %}">Viewevent</a></li> -->
        <!-- <li><a href="{% url 'ViewsFoodShedule' %}">ViewsFoodShedule</a></li> -->
        <!-- <li><a href="{% url 'Sponsership' %}">Sponsership</a></li> -->
        <!-- <li><a href="{% url 'ViewSponsership' %}">ViewSponsership</a></li> -->
        <!-- <li><a href="{% url 'ParentChangepassword' %}">ParentChangepassword</a></li> -->
        <!-- <li><a href="{% url 'logout' %}">logout</a></li> -->
        <p style="margin-left:100px" >The parent can create a profile for their child on the website.They can view updates on their child's attendence,academic progress and any other relevant information  that the Anganwadi center has inputted into the system.</p>
 </div>
{% endblock %}