{% extends 'teacherbase.html'%}
{% block content %}
    <h2 class="text-center text-primary ">PARENT</h2>
    <br>
    <div class="container">
        <div class="row">
    <div class="col-md-offset-3 col-md-6">
        {% for v in parent %}
        <table class="table table-bordered table-striped table-hover">
            <tr>

                <th>Name</th>
                <td> {{ v.Name }} </td>
            </tr>
            <tr>
                <th>Gender</th>
                <td> {{ v.Gender }} </td>
                </tr>
            <tr>
                <tr>
                    <th>Address</th>
                    <td> {{ v.Address }} </td>
                    </tr>
                <tr>
                <th>Phoneno</th>
                <td> {{v.Phoneno}} </td>
            </tr>
            <tr>
                <th>Username</th>
                <td> {{v.Username}} </td>
            </tr>
            <tr>
                <th>Password</th>
                <td> {{v.Password}} </td>
            </tr>

            <tr>	
                <td colspan="2" class="text-center">
            <a href="{% url 'parentapprove' v.id %}"  class="btn btn-success mr-2" style="margin-right:25px">Approve</a>
            <a href="{% url 'parentreject' v.id %}" class="btn btn-danger mr-2">Reject</a></td>
            </tr>
            
        </table>
    </div>
    </div>
    </div>
    {% endfor %}
    {% endblock %}