{% extends 'parentbase.html'%}
{% block content %}
        <h2 class="text-center text-primary ">SPONSERSHIP</h2>
    <br>
    <div class="container">
        <div class="row">
            {% for v in Sponsership %}
            <div class="col-md-offset-3 col-md-6">
          <table class="table table-bordered table-striped table-hover">
         
		<tr>
        <th style="width:50%">SponsershipName</th>
        <td style="width:50%"> {{ v.SponserName }} </td>
        </tr>
        <tr>
        <th>Job</th>
        <td> {{ v.Job }} </td>
        </tr>
        <tr>
        <th>Address</th>
        <td> {{ v.Address }} </td>
        </tr>
        <tr>
        <th>SponsershipItem</th>
        <td> {{v.SponserItem}} </td>
        </tr>	
		<tr>
            <td colspan="2" class="text-center">  
        <a href="{% url 'DeleteSponsership' v.id %}" class="btn btn-danger mr-2" style="margin-right:25px">Delete
        <a href="{% url 'SponsershipUpdate' v.id %}" class="btn btn-success mr-2">Edit</td> 
        </tr>
	
        </table>
        </div>
        {% endfor %}
        </div>
        </div>
        {% endblock %}